
body{
    background-image: url(../images/fondo.jpg);
    backdrop-filter: blur(30px);
    background-size: cover;
    font-family: "Poppins", sans-serif;
    
}

/*Header-index*/

.logo-nav{
    width: 85px;
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.links-nav{
    text-decoration: none;
    margin-right: 30px;
    font-size: 20px;
    color: white;
    
}
.links-nav:hover{
    transition-duration: 0.1s;
    text-shadow: 0 0 20px #fff;
}
.li-nav{
    list-style-type: none;
}
.menu{
    display: flex;
    padding-top: 30px;
    gap: 10px;
}

/*Main-Index*/

.title-main-index{
    color: white;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    font-size: 40px;
    cursor: default;
}
/*Carousel-index*/
.carousel, .carousel-inner > .item > img {
    
    width: 65%;
   
  }
.carousel-caption a{
    text-decoration: none;
    color: white;
}
  
  h5{
    font-size: 30px;
  }



/*Secciones-index*/

#h2-seccion-main{
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.seccion-index{
    display: flex;
    align-items: center;
    padding-top: 100px;
    justify-content: center;
    gap: 200px;
    justify-items: center;
    
    
}
.cajas-secciones-index {
    display: flex;
    border: 1px solid grey;
    box-shadow: 1px 1px 10px 0px white;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    gap: 15px;
    height: 255px;
    transition: all;
    background-color: black;
    transition-duration: 1s;
}

.cajas-secciones-index:hover {
    filter: invert(100%); 
}


.icons-index{
    width: 60px;
}

.a-secciones-index{
    color: white;
    text-align: center;
    font-size: 25px;
    text-decoration: none;
}

.text-secciones-index{
    color: white;
    text-align: center;
    width: 200px;
    cursor: default;
    font-size: 15px;
}

.button-index{
    display: flex;
    justify-content: center;
    padding-top: 80px;
}
.btn a{
    color: white;
    text-decoration: none;
    
}
/*Main-Contacto*/

.h1-contacto{
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    font-size: 40px;
}


.main-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    padding-top: 60px;
}
.title-inputs{
    font-size: 25px;
    color: white;
}

.cajas-inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.inputs{
    background-color: lightgray;
    border-radius: 10px 10px;
    border: none;
    text-align: center;
    width: 250px;
    height: 25px;
}
.inputs:focus{
    transition: 1s;
    background-color: white;
    
}
.input-textarea{
    
    height:50px !important;
}
.boton-contacto{
    height: 40px;
    width: 80px;
    background-color: white;
    border-radius: 10px 10px;
}
.button-contacto{
    display: flex;
    justify-content: center;
    
}
/*Pagina de confirmacion de envio de formulario*/

.main-confirmado{
    display: flex;
    justify-content: center;
    padding-top: 200px;
}
.div-confirmado{
    backdrop-filter: blur(0px);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    height: 100vh;
}
.div-confirmado h1{
    font-size: 40px;
}
.div-confirmado p{
    font-size: 20px;
}
.div-confirmado img{
    width: 150px;
}

/*Donde estamos*/
.title-donde-estamos{
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 45px;
}

.section-donde-estamos{
    display: flex;
    align-content: center;
    justify-content: center;
    padding-top: 50px;
    gap: 50px;
    padding-bottom: 50px;
}
iframe{
    width: 90vh;
    height: 60vh;
}
.tarjeta-horarios{
    color: white;
    
}

.horarios-atencion{

    color: white;
    display: flex;
    gap: 10px;
    flex-direction: column;
    font-size: 25px;
    list-style-type: disc;
    padding-top: 70px;   
}

.button-donde-estamos{
    margin-left: 80px;
    margin-top: 60px;
    background-image:  linear-gradient(to left,rgba(0, 0, 250, 0.633)50%, white 50%) ;
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: right;
    height: 40px;
    width: 120px;
    border: none;
    transition: background-position .5s ease;
}
.button-donde-estamos:hover{
    background-position: left;
}
.href-button{
    text-decoration: none;
    color: white;
}
.href-button:hover{
    color: black;
}


/*Nosotros*/

.title-nosotros{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 50px;
}
.img-nosotros{
    width: 40vw;
}
.section1-nosotros{
    display: flex;
    flex-direction: row-reverse;
    padding-top: 100px;
    justify-content: center;
    gap: 100px;
}
.tarjeta-section-nosotros{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 120px;
}
.h3-tarjetas{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
}
.text-section-nosotros{
    color: white;
    font-size: 20px;
    width:  30vw ;
    text-align: center;
}

/*Section Integrantes*/
.section2-nosotros{
    display: flex;
    flex-direction: column;
    gap: 50px   ;
}
/*Maria*/
.h2-nosotros{
    display: flex;
    color: white;
    justify-content: center;
    padding-top: 150px;
    font-size: 50px;
}

.div-maria{
    display: flex;
    flex-direction: row-reverse;
    padding-top: 100px;
    justify-content: center;
    gap: 100px;
}
.img-integrantes{
    width: 20vw;
}

.tarjeta-section-integrantes{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 40px;
}
.tarjeta-section-integrantes h2{
    color: white;
    text-align: center;
}
.text-section-integrantes{
    color: white;
    font-size: 20px;
    width:  30vw ;
    text-align: center;
}
/*Juan*/
.div-juan{
    display: flex;
    padding-top: 100px;
    justify-content: center;
    gap: 100px;
}
/*Luisa*/
.div-luisa{
    display: flex;
    padding-top: 100px;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 100px;
}
/*Carlos*/
.div-carlos{
    display: flex;
    padding-top: 100px;
    justify-content: center;
    gap: 100px;
}
/*Pedro*/
.div-pedro{
    display: flex;
    padding-top: 100px;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 100px;
}
/*Ultima seccion*/
.section3-nosotros{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    padding-top: 130px;
}
.ultimo-texto-nosotros{
    color: white;
    font-size: 18px;
    width: 60vw;
    text-align: center;
}
.button-nosotros{

    margin-top: 20px;
    margin-bottom: 40px;
    background-image:  linear-gradient(to left,rgba(0, 0, 250, 0.633)50%, white 50%) ;
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: right;
    height: 40px;
    width: 120px;
    border: none;
    transition: background-position .5s ease;
}
.button-nosotros:hover{
    background-position: left;
}

/*Servicios*/

.title-servicios{
    display: flex;
    color: white;
    justify-content: center;
    padding-top: 70px;
    font-size: 45px;
}

.section-servicios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:70px;
    gap: 100px;
}
.tarjetas-servicios{
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
    padding-top: 50px;
    gap: 100px;
    align-items: center;

}
.img-servicios{
    width: 50vw;
}
.div-servicios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}
.text-servicios{
    color: white;
    width: 60vw;
    text-align: center;
    display: flex;
}
.button-servicios{

    margin-top: 20px;
    margin-bottom: 40px;
    background-image:  linear-gradient(to left,rgba(0, 0, 250, 0.633)50%, white 50%) ;
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: right;
    height: 60px;
    width: 140px;
    border: none;
    transition: background-position .5s ease;
    font-size: 20px;
}
.button-servicios:hover{
    background-position: left;
}






/*Footer*/
.text-footer{
    color: white;
    font-size: 20px;
    padding-bottom: 10px;
}
.icon-footer{
    width: 55px;
}
.icons-footer{
    display: flex;
    justify-content: center;
    gap: 100px;
}
.footer{
    margin-top: 80px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


/* Media query  */
@media screen and (max-width: 768px) {
    .seccion-index{
        flex-direction: column;
        gap: 50px;
    }
    nav{
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.6);
        
        align-items: center;
        justify-content: center;
        align-content: center;
    }





}